@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Lato&family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
}
.bg-container-img1 {
  background-image: url(images/bg.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  opacity: 0.7;
}

.heading-big {
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 2rem;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  outline: 8px inset purple;
  outline-offset: 16px;
  letter-spacing: 10px;
}

.section {
  text-align: center;
  padding: 50px 70px;
  line-height: 25px;
}

.section-light {
  background-color: rgb(241, 241, 241);
  color: #666;
}

.bg-container-img2 {
  background-image: url(images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background-attachment: fixed;
}

.section h2 {
  margin-bottom: 16px;
}

.bg-container-img2 img {
  width: 20%;
  height: 5%;
  min-width: 400px;
  min-height: 80px;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.bg-container-img3 {
  background-image: url(images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
}

.heading-small {
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-size: 3rem;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
  outline: 8px inset purple;
  outline-offset: 2px;
  letter-spacing: 8px;
}

.bg-container-img4 {
  background-image: url(images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
}
