.box{
    border: 5px solid black;

    margin-bottom: 4rem;
    width: 20rem;
    height: 7rem;
    background-color: bisque;
}

.box1{
overflow: visible;
    
}
.box2{
overflow: hidden;

}
.box3{
overflow: scroll;

}
.box4{
overflow: auto;

}
.box5{
overflow-x: scroll;
overflow-y: hidden;

}

p{
    width: 900px;
}

.box3::-webkit-scrollbar{
    /* width: 0; */
    /* display: none; */
    background-color: brown;
}