@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Dancing+Script:wght@600&family=Raleway:ital,wght@1,200&display=swap");

:root {
  --primary-color: rgb(51, 130, 179);
  --secondary-color: rgb(138, 9, 9);
  --yaziRengi: rgb(50, 53, 42);

  --renk1: #003547;
  --renk2: #005e54;
  --renk3: #c2bb00;
  --renk4: #e1523d;
  --renk5: #ed8b16;

  /* Font-family Tanımlama */
  --ff-bricolage: "Bricolage Grotesque", sans-serif;
  --ff-dancing: "Dancing Script", cursive;
  --ff-raleway: "Raleway", sans-serif;

  /* font-size tanımlama */
  --fs-sm: 0.5rem;
  --fs-m: 1rem;
  --fs-lg: 2rem;
  --fs-xlg: 3rem;
}
