//*****************************************************
//*   ABOUT PAGE
//*****************************************************


.about-bgImg-container{
    @include bgImg(50vh, $pathname1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .about__bio-image{
        text-align: center;
        h2{
            font-size: 3rem;
            color: $secondary-color;
        }
        p{
            font-size: 1.2rem;
            margin: 1.5rem;
            line-height: 1.5rem;
        }
    }

}