*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                            Variable Declaration                            */
/* -------------------------------------------------------------------------- */


$bgColor:pink;
$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontColor:white;
$navBgColor:#30a7c3;
$fontSize: 1.2rem;
$myBorder: 2px solid brown;
$bannerColor: hotpink;

body{
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
}



/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header{
background-color: $navBgColor;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;

    img{
    width: 80px;
    border: $myBorder;
    border-radius: 1rem;
    padding: 5px;
}
    ul{
        list-style-type: none;
        li{
            display: inline-block;
            padding: .5rem;
            &:hover{
                text-decoration: underline;
            }

            a{
                color: $fontColor;
                text-decoration: none;
            }
        }
    }

}

/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$bannerColor;
    padding:1rem ;
    line-height: 2rem;
    aside{
        button{
            padding: .5rem;
            border: none;
            border-radius: 5px;
            background-color: $bgColor;
            margin-top: 1rem;
            margin-left: .5em;
            &:hover{
                background-color: rgb(201, 98, 115);
                cursor: pointer;
                transform: scale(0.97);
            }
        }
    }

    img{
        width: 30%;
        max-width: 400px;
        min-width: 250px;
    }

}