/*! grup selector */



div p{
    /* background-color: magenta; */
}

.container div p{
    /* background-color: red; */
}

.box p{
    /* background-color: aqua; */
}

div + p{
    background-color: aquamarine;
}

p + div {
    /* background-color: darkgoldenrod; */
    }
    
    /* .container ~ p{
        background-color: forestgreen;
    } */


    /*! Attribute selector */

    h2[title="baslik2"]{
        background-color: olive;
    }
    p[title="part1"]{
        background-color: fuchsia;
    }
    a[target="_blank"] {
        background-color: darkorange;
    }


    /*! Psudo Selector */

    p[title="par2"]::first-line{
        font-size: 2rem;
        color: green;
    }
    p[title="par1"]::first-letter{
        font-size: 3rem;
        color: yellow;
    }