//abstract
@import './abstracts/mixins', './abstracts/variables';

//base
@import './base/reset';

//components
@import './components/footer', './components/nav', './components/responsive';

//pages
@import './pages/about', './pages/contact', './pages/home', './pages/project';
