//abstract
@import './abstracts/mixins', './abstracts/variables';
//base
@import './base/reset';
//components
@import './components/footer','./components/nav','./components/responsive';
//pages
@import './pages/about','./pages/contact','./pages/home','./pages/project';

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");


body{
    font-family: $font-family;
    color: $text-color;
    background-color: $primary-color;
    height: 100vh;
    line-height: 1;
}

a{
    color: $text-color;
    text-decoration: none;
}

h1,h2,h3{
    font-weight: 400;
}
