@mixin myBox($backColor, $color ) {
    background-color: $backColor;
    width: 25%;
    height: 15rem;
    border-radius: 10px;
    color: $color;
    display: flex;
    justify-content: center;
    align-items: center;
}