//*****************************************************
//*   MIXINS
//*****************************************************

@mixin transition($sec) {
    transition: all $sec;
}

@mixin bgImg($height,$path) {
    height: $height;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3),
    ),
    url($path);
    background-size: cover;
    background-position: center;
}