/* ---------------------------------- */
//^             VARIABLES             */
/* ---------------------------------- */

// colors
$primary-color:#272727;
$secondary-color:#ff652f;
$hover-color:blue;
$tect-color:#fff;

//font
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;