* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body,
  .todo-header,
  .todo-body i {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    /* background-color: #78c1f3; */
    min-height: 100vh;
    max-width: 100%;
    background-image: url(assets/cork-board.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: #f9f9f9;
    padding: 30px;
    width: 500px;
    margin: 1rem;
    z-index: 1;
    transform: rotate(-1deg);
    position: relative;
    box-shadow: 2px 2px 30px black;
  }
  
  .container::before {
    content: url(assets/cork-pin.png);
    z-index: 10000;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -15px;
    left: 40%;
  }
  
  .todo-count {
    text-align: center;
  }
  
  .todo-count p {
    background-color: #a28089;
    color: white;
    width: 100px;
    margin-left: auto;
    padding: 5px 0;
  }
  
  .todo-header {
    margin: 20px 0 10px;
    padding-left: 5px;
  }
  
  div .result {
    background-color: indianred;
    color: white;
    text-align: center;
    margin: 10px auto 15px;
    width: 300px;
    border-radius: 5px;
  }
  
  .todo-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  .todo-main input {
    flex: 1; /* flex-grow | flex-basis */
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
  }
  
  .todo-main i {
    cursor: pointer;
    height: 56px;
    width: 56px;
    padding: 14px;
    background-color: limegreen;
    border-radius: 40px;
    font-size: 2rem;
    color: white;
  }
  
  .todo-main i:hover {
    color: black;
    transition-duration: 0.3s;
  }
  
  ul li {
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    position: relative;
    background: #edeef0;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 8px;
  }
  
  ul li.checked {
    color: #555;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    background-image: url(assets/checked.png);
  }
  
  .item-setting {
    width: 85%;
    overflow: auto;
  }
  
  .item-setting::-webkit-scrollbar {
    display: none;
  }
  
  .todo-control {
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 5px;
    color: indianred;
  }
  
  .todo-control:hover {
    color: black;
    transform: scale(1.03);
  }
  
  .clear-section {
    text-align: center;
    margin-top: 1rem;
  }
  
  .clear-btn {
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 20px;
    background-color: bisque;
    font-size: 1rem;
  }
  
  .clear-btn:hover {
    background-color: rgb(231, 170, 95);
    color: white;
  }
  