@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=IBM+Plex+Mono&family=Orbitron&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Comfortaa", sans-serif;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Orbitron", sans-serif;
  font-family: "Victor Mono", monospace;
  --bg-color: #212a34;
  --second-bg-color: #353f4e;
  --text-color: #fff;
  --main-color: #d80404;
}
header {
  border: 2px solid red;
  /* height: 50px; */
  width: 100%;
  padding: 3rem 5rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* position: relative; */
  /* position: fixed; */
}
.harvey {
  border: 2px solid wheat;
  color: var(--main-color);
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  /* position: absolute; */
  top: 30px;
}
.navbar {
  border: 1px solid yellow;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  font-family: "Comfortaa", sans-serif;
  /* position: absolute; */
  right: 30px;
}
.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
}
.about {
  border: 2px solid green;
  height: 100vh;
  background-color: var(--bg-color);
  padding: 10 10rem;
  display: flex;
  align-items: center;
  justify-self: center;
}
.name {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.avatar {
  width: 30%;
}
.name h2 {
  font-size: 2rem;
  color: var(--text-color);
  font-family: "Comfortaa", sans-serif;
}
.name h1 {
  color: var(--main-color);
  font-family: "Orbitron", sans-serif;
}
.name p {
  color: var(--text-color);
  font-family: "IBM Plex Mono", monospace;
  margin-top: 2rem;
}
.social-media {
  border: 1px solid yellow;
  display: flex;
  justify-content: space-evenly;
  display: flex;
}
.social-media a i {
  font-size: 2rem;
  color: var(--main-color);
}
.social-media a:hover {
  box-shadow: 0 0 50px var(--main-color);
  color: var(--bg-color);
}
.btn {
  background-color: #d80404;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.8rem;
}
