@import "../../scss/variable";

.container{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 2rem;
margin-top: 2rem;
margin-bottom: 4rem;

    .card{

        width: 50%;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            
                img{
                    border-radius: 80px;
                        width: 50%;
                        margin-top: 10px;
                }

            h1{
                color: $orange;
            }
            h2{
                color: $darkBlue;
            }
            p{
                color: $red;
                font-size: 1.2rem;
            }
    }

}

