* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 0 0 1rem 8rem;
}

.blok1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  position: relative;
  min-width: 100%;
}

.img1 {
  width: 15%;
}

.img2 {
  width: 15%;
  display: block;
  padding-top: 140px;
}

.img3 {
  width: 15%;
}

.img1 img,
.img2 img,
.img3 img,
.img4 img,
.img5 img,
.img6 img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

span {
  position: absolute;
  /* transform: rotate(90deg); */
  writing-mode: vertical-lr;
  font-size: 13px;
  margin-top: 20px;
}

.blok2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 3rem;
}

.img4 {
  margin-top: 50px;
  width: 15%;
}

.img5 {
  width: 15%;
  margin-top: 50px;
  padding-top: 100px;
}

.img6 {
  width: 15%;
  margin-top: 50px;
}
