* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: 8rem;
}

.blok1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  position: relative;
  min-width: 100%;
}

.img1 {
  width: 15%;
}

.img1 img {
  width: 100%;
}

span {
  position: absolute;
  transform: rotate(90deg);
  top: 90px;
  font-size: 13px;
  margin-left: -40px;
}

.img2 {
  width: 15%;
  display: block;
  padding-top: 100px;
}

.img2 span {
  position: absolute;
  top: 190px;
}

.img2 img {
  width: 100%;
}
.img3 {
  width: 15%;
}

.img3 img {
  width: 100%;
}

.span3 {
  position: absolute;
  padding-left: 30px;
  top: 50px;
}

.img1 img,
.img2 img,
.img3 img {
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

.img1,
.img2,
.img3,
p {
  margin-top: 20px;
}

.blok2 {
  position: relative;
}

.blok2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 3rem;
}

.img4 {
  margin-top: 50px;
  width: 15%;
}

.img4 img {
  width: 100%;
}
.img5 {
  width: 15%;
  margin-top: 50px;
  padding-top: 100px;
}

.img5 img {
  width: 100%;
}
.img6 {
  width: 15%;
  margin-top: 50px;
}

.img6 img {
  width: 100%;
}

.img4 img,
.img5 img,
.img6 img {
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

.span2 {
  position: absolute;
  transform: rotate(90deg);
  top: 90px;
  font-size: 13px;
  padding-left: 18px;
}

.span4 {
  position: absolute;
  padding-left: 18px;
  top: 180px;
}
