body{
    background-color: black;
    color: white;
}
.container{
    width: 80%;
    background-color: #272626;
    margin: auto;
    border-radius: 20px;
}
.heading {
    font-family: 'Lobster', sans-serif;
}
.title{
    text-align: center;
    font-size: 60px;
}

span{
    color: red;
}

.imgContainer{
    text-align: center;
}

img {
    border-radius: 40px;
    box-shadow: 5px 5px 300px red;
}