@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&family=Rubik+Beastly&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: black;
}
header{
    display: flex;
    border: 1px solid red;
    margin-left:  2rem;
    flex-wrap: wrap;
    
}
.face{
    color: white;
}

.x{
    margin-left: 10px;
    color: white;

}
.instagram{
    margin-left: 10px;
    color: white;
}
.home{
   
        margin-left: 50px;
        color: white;
}

.artist{
    margin-left: 25px;
    color: white;
}

.muzik{
    margin-left: 25px;
    color: white;
}

.video{
    margin-left: 25px;
    color: white;
}

.blog{
    margin-left: 25px;
    color: white;
}
.kontakt{
    margin-left: 25px;
    color: white;
}
