*{
  margin: 0 3px;
  padding: 3px;
  /* border: 1px solid red; */
  
}
.container{
  border-top: 1px solid black;
  border-right: 1px solid black;
  
}
header{
  text-align: center;
}
.ad{
  margin-left: 102px;
  margin-top: 2px;
}
.soyad{
  margin-top: 2px;
  margin-left: 82px;
}
.yas{
  margin-top: 2px;
  margin-left: 100px;
}
.mail{
  margin-top: 2px;
  margin-left: 45px;
}
.foto{
  margin-top: 2px;
  margin-left: 30px;
}

h4{
  padding-left: 60px;
}
.date{
  display: flex;
  display: inline-block;
  margin-left: 120px;
}
.radio{
  display: flex;
  display: inline-block;
  margin-left: 120px;
}
.option{
  margin-left: 120px;
}
.textarea{
  resize: none;
}
.parag{
  margin-top:-4px;
}
.footer{
  margin-left: -5px;
  margin-right: -5px;
}