@import "./theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-family: var(--ff-montserrat);
}

body {
  background-color: var(--mavi-9);
}

h1 {
  background-color: var(--koyu-kirmizi);
  border: 2px solid black;
  width: 300px;
  text-align: center;
  margin: 1rem auto;
  border-radius: 50px;
  padding: 10px 0;
  font-size: 50px;
}
.header {
  background-color: var(--koyu-yesil);
  padding: 20px;
  margin: 20px 0;
}

.navbar {
  background-color: var(--gri-3);
  text-align: end;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 20px;
  text-align: center;
}

.col1 {
  background-color: var(--gri-5);
  width: 35%;
}
.col2 {
  background-color: var(--gri-6);
  width: 20%;
}
.col3 {
  background-color: var(--gri-7);
  width: 30%;
}
.col4 {
  background-color: var(--gri-8);
  width: 15%;
}

/*! üstteki stiller  en büyük ekranlarda kullanılsın. ta ki 992px e kadar (tablete kadar). 992px den sonra (tablette) alttaki stiller kullanılmaya başlansın */
@media screen and (max-width: 992px) {
  body {
    background-color: var(--acik-kirmizi);
    color: white;
  }

  .col {
    width: 50%;
    margin: 0.5rem 0;
  }
}

/*! 576px e kadar üstteki stiller kullanılsın (ilk baştakiler ve tablet koduyla ezilenler varsa onlar)  576px ve altında bir alttaki stiller kullanılsın*/

@media screen and (max-width: 576px) {
  body {
    background-color: var(--mor-1);
  }

  .header {
    display: none;
  }
  .col {
    width: 100%;
    /* margin vermedik çünkü tabletlerde verdiğimiz margin burada da geçerli */
  }
  .navbar a {
    display: block;
    text-align: center;
  }
}
